<app-nav></app-nav>
<!-- <p *ngIf="!userLoginOn">Usuario NO autenticado</p> -->
<p *ngIf="userLoginOn">Bienvenido!!</p>
<!-- <div *ngIf="userLoginOn" class="userInfo">
    <p>Nombre: {{userData?.username}}</p>
    <p>Email: {{userData?.email}}</p>
    <p>Tipo: {{userData?.tipo}}</p>
    <p>{{userData}}<p>
</div> -->

<main>
    <section id="inicio" class="py-5 text-center">
        <div class="container">
            <h2>Bienvenido a Floristería</h2>
            <p class="lead">¡La mejor selección de flores para cualquier ocasión!</p>
        </div>
    </section>

    <section id="productos" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Nuestros Productos</h2>
            <div class="row">

                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Ramo de Flores Coloridas</h3>
                            <p class="card-text">Descripción del ramo y sus características.</p>
                            <p class="price">$25.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$20.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$20.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/images/ramo_rosas.jpg" class="card-img-top" alt="Ramo de flores">
                        <div class="card-body">
                            <h3 class="card-title">Otro Producto</h3>
                            <p class="card-text">Descripción del producto y sus características.</p>
                            <p class="price">$30.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacto" class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">Contacto</h2>
            <p class="text-center">¡Estamos listos para ayudarte! Escríbenos a:</p>
            <p class="text-center">Email: info@floreshermosas.com</p>
            <p class="text-center">Teléfono: (123) 456-7890</p>
        </div>
    </section>
</main>