<app-nav></app-nav>
<header class="header">
    <div class="menu container">
        <input type="checkbox" id="menu" />
        <label for="menu">
            <!-- <img src="imagen/" class="menu-icono" alt=""> -->
        </label>
    </div>
    <div class="header-content container">
        <div class="header-txt">
            <h1>
                <marquee direction="up">SENSOR DE TEMPERATURA Y HUMEDAD: DHT11 </marquee>
            </h1>
            <p>
                Los sensores DHT11 y DHT22 son sensores digitales de Temperatura y Humedad, fáciles de implementar
                con cualquier microcontrolador. Utiliza un sensor capacitivo de humedad y un termistor para medir el
                aire circundante y solo un pin para la lectura de los datos. Tal vez la desventaja de estos es la
                velocidad de las lecturas y el tiempo que hay que esperar para tomar nuevas lecturas (nueva lectura
                después de 2 segundos), pero esto no es tan importante puesto que la Temperatura y Humedad son
                variables que no cambian muy rápido en el tiempo.
            </p>
            <a href="https://naylampmechatronics.com/blog/40_tutorial-sensor-de-temperatura-y-humedad-dht11-y-dht22.html"
                class="btn-1">Información</a>
        </div>
    </div>

    <div class="header-content container">
        <div class="header-txt">
            <h1>
                <marquee direction="up">Sensor de humedad para tierra: hw 080 </marquee>
            </h1>
            <p>
                El sensor que utilizaremos está compuesto por una sonda de dos electrodos y un módulo convertidor.
                Existen varios modelos de este sensor en el mercado, los que yo utilizaré en este ejemplo son los
                electrodos marcados con HW-080 y el convertidor HW-103. También puedes encontrarlo con el modelo
                YL-69. Es de los sensores más comunes para humedad de suelo que existen y son muy económicos,
                alrededor de los 30 pesos mexicanos (1.25 USD).
                La salida digital servirá para indicar “todo” o “nada”; es decir, mucha humedad o nada de humedad, y
                para elegir el umbral de esta decisión, el convertidor trae un pequeño potenciómetro.

            </p>
            <a href="https://www.automatizacionparatodos.com/sensor-de-humedad-de-suelo-con-arduino/"
                class="btn-1">Información</a>
        </div>

    </div>
</header>
<div class="fondo3">
    <main class="tours container">
        <h2>
            <marquee>Características de los sensores dht11 y hw 080 </marquee>
        </h2>
        <p>
            Los sensores son herramientas que detectan y responden a algún tipo de información del entorno físico.
        </p>

        <div class="tour-content">
            <div class="tour-1 ">
                <div class="tour-txt">

                    <h3>DHT11 </h3>
                    <p>Este sensor trabaja con un rango de medición:<br>
                        <br>
                        Temperatura de 0 a 50 °C. <br>
                        Con una precisión de ±2.0 °C.<br>
                        Tiene un rango de humedad de 20% a 90% RH. <br>
                        Con una precisión de 4% RH. <br>
                        Los ciclos de lectura debe ser
                        como mínimo 1 o 2 segundos.
                    </p>

                </div>
            </div>

            <div class="tour-2 ">
                <div class="tour-txt">

                    <h3>DHT22 </h3>
                    <p>Este sensor trabaja con un rango de medición:<br>
                        <br>
                        Temperatura es de -40°C a 80 °C.<br>
                        Con una precisión de ±0.5 °C.<br>
                        Con un rango de humedad de 0 a 100% RH<br>
                        Con precisión de 2% RH<br>
                        el tiempo entre lecturas debe ser de 2 segundos.
                    </p>

                </div>
            </div>

            <div class="tour-3 ">
                <div class="tour-txt">

                    <h3>hw 080 </h3>
                    <p>Módulo electrónico inteligente de detección de humedad del suelo.<br>
                        <br>
                        Voltaje de funcionamiento 3,3 V-5V.<br>
                        Placas pequeñas, tamaño PCB: 3cm * 1,6 cm. <br>
                        Indicadores de potencia (rojo) e indicador de salida de conmutación digital (verde) <br>
                    </p>

                </div>
            </div>

            <div class="tour-4 ">
                <div class="tour-txt">

                    <h3>hw 080 </h3>
                    <p>Módulo electrónico inteligente de detección de humedad del suelo.<br>
                        <br>
                        VCC externo 3,3 V-5V. <br>
                        GND externo GND.<br>
                        DO interfaz de salida digital de placa pequeña (0 y 1). <br>
                        AO interfaz de salida analógica de placas pequeñas...
                    </p>

                </div>
            </div>
        </div>
    </main>
</div>
<section class="video">

    <div class="video-content container">

        <div class="video-1">
            <h2>
                <marquee direction="up">¿Cómo funciona sensor de temperatura y humedad? </marquee>
            </h2>
            <p>
                Concretamente, este tipo de dispositivos cuentan con dos microsensores calibrados en función de la
                humedad relativa del área o la zona. Al entrar en contacto con el aire, el sensor emite una señal a
                los sistemas de extracción higrorregulables situados en la cocina o el baño.
            </p>
            <a href="https://www.securitasdirect.es/blog/sensor-de-humedad-como-funciona/#:~:text=C%C3%B3mo%20funciona%20un%20sensor%20de%20humedad&text=Concretamente%2C%20este%20tipo%20de%20dispositivos,la%20cocina%20o%20el%20ba%C3%B1o."
                class="btn-1">Información</a>
            <br>
        </div>

        <div class="video-2">

            <video class="v1" controls>

                <!-- <source src="video/vid11.mp4" type="video/mp4"> -->
            </video>

            <video class="v2" controls>
                <!-- <source src="video/vid22.mp4" type="video/mp4"> -->
            </video>

        </div>
    </div>

    <div class="video-content container">

        <div class="video-1">
            <h2>
                <marquee direction="up">¿Cómo funciona el sensor de humedad de suelo? </marquee>
            </h2>
            <p>
                Si estamos utilizando el sensor en modo analógico, la placa Arduino detectará el nivel de voltaje
                entregado por este, y lo convertirá en un número equivalente a la cantidad de humedad detectada
                entre 0 y 1023. Cuando el sensor detecta nada de humedad (seco) entrega un valor de 1023 y cuando
                detecta un valor de alta humedad entrega un valor de 0 (o cercano a 0).
            </p>
            <a href="https://www.automatizacionparatodos.com/sensor-de-humedad-de-suelo-con-arduino/"
                class="btn-1">Información</a>
        </div>

        <div class="video-2">

            <video class="v1" controls>

                <!-- <source src="video/hw01.mp4" type="video/mp4"> -->
            </video>

            <video class="v2" controls>
                <!-- <source src="video/hw02.mp4" type="video/mp4"> -->
            </video>

        </div>
    </div>
</section>